[submodule "Carthage/Checkouts/CleanroomASL"]
	path = Carthage/Checkouts/CleanroomASL
	url = https://github.com/emaloney/CleanroomASL.git
[submodule "Carthage/Checkouts/CleanroomLogger"]
	path = Carthage/Checkouts/CleanroomLogger
	url = https://github.com/emaloney/CleanroomLogger.git
